<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<meta charset="utf-8">
	 
	<link href="<?php echo e(asset("css/bootstrap.min.css")); ?>" rel="stylesheet">
	<link href="<?php echo e(asset("css/modulos.css")); ?>" rel="stylesheet">

</head>
<body>

	

	<div class="main">
		<?php echo $__env->yieldContent('content'); ?>
	</div>
	

	<?php echo Html::script('js/jquery.min.js'); ?>

	<?php echo Html::script('js/tether.min.js'); ?>

	<?php echo Html::script('js/bootstrap.min.js'); ?>

</body>
</html>


